body {
	background-image: url("images/Surfing.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	font-family: Poppins-Thin;
	font-size: 30px;
	line-height: 4;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
	font-weight: 100;
}